.ui.menu .ui.container .toc.item {
  display: none;
}

#mobile-menu {
  display: none;
}

#content-wrapper {
  padding-left: 150px;
}

@media only screen and (max-width: 700px) {
  .ui.menu .ui.container .toc.item {
    display: block;
  }

  #mobile-menu {
    display: block;
  }

  #content-wrapper {
    padding-left: 0px;
  }

}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html.ios,
html.ios body {
  height: initial !important;
}
