<!DOCTYPE html>
<html>
  <head>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Groupy</title>
    <link rel="stylesheet" href="/lib/bootstrap.min.css"/>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="fb-root"></div>
    <div id="navbar"></div>
    <div id="view"></div>
  </body>
</html>
