<div id="mobile-sidebar" class="ui left thin sidebar inverted labeled icon vertical menu">
    <%- include sidebar.menu.ejs %>
</div>
<div id="mobile-menu" class="ui top fixed inverted borderless menu">
    <div class="ui container">
        <a class="toc item">
            <i class="sidebar large icon"></i>
        </a>
    </div>
</div>
