<div id="message-view" class="ui container">
    <div class="ui raised segment">
        <h2 class="ui header">
            <div class="content">
                <a class="author" href="{{'https://facebook.com/' + message.from.id}}" target="_blank">
                    {{message.from.name}}
                </a>
                <div class="sub header">
                    <a class="metadata" href="{{'https://facebook.com/' + message.id}}" target="_blank">
                        {{message.created_time}}
                    </a>
                </div>
            </div>
        </h2>

        <div class="ui divider"></div>

        <div ng-show="showAttachments()" class="ui small images">
            <a href="{{i.url}}" target="_blank" ng-repeat="i in message.attachments.items">
                <img ng-src="{{i.src}}"/>
            </a>
        </div>
        <div ng-show="showAttachments()" class="ui divider"></div>

        <p class="message" ng-bind-html="message.message"></p>

        <div class="ui divider"></div>

        <div class="ui horizontal list">
            <div class="item">
                <i class="heart outline like icon"></i>
                {{message.likes}} likes
            </div>
            <div class="item">
                <i class="comment icon"></i>
                {{message.comments.length}} comments
            </div>
        </div>

        <div class="ui divider" ng-show="showComments()"></div>

        <div class="ui comments" ng-show="showComments()">
            <div id="{{c.id}}" class="comment" ng-repeat="c in message.comments">
                <div class="content">
                    <a class="author" href="{{'https://facebook.com/' + c.from.id}}" target="_blank">
                        {{c.from.name}}
                    </a>
                    <a href="{{'https://facebook.com/' + c.id}}" target="_blank">
                        <span class="metadata data">{{c.created_time | timeFilter}}</span>
                    </a>
                    <div class="text" ng-bind-html="c.message"></div>
                    <div class="comments" ng-show="showComments(c)">
                        <div id="{{cc.id}}" class="comment" ng-repeat="cc in c.comments">
                            <div class="content">
                                <a class="author" href="{{'https://facebook.com/' + cc.from.id}}" target="_blank">
                                    {{cc.from.name}}
                                </a>
                                <a href="{{'https://facebook.com/' + cc.id}}" target="_blank">
                                    <span class="metadata data">{{cc.created_time | timeFilter}}</span>
                                </a>
                                <div class="text" ng-bind-html="cc.message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
