<div infinite-scroll='getNextPage()'
     infinite-scroll-listen-for-event="groupFeed:loaded"
     infinite-scroll-disabled="stopInfiniteScroll"
     infinite-scroll-distance='1' id="groupFeed" class="ui container">
    <div class="ui segment">
        <div class="ui header">{{groupName}}</div>
        <div class="ui secondary pointing menu">
            <a class="active item" data-tab="search">검색 옵션</a>
        </div>
        <div class="ui tab active" data-tab="search">
            <form class="ui form" ng-submit="search()">
                <div class="field">
                    <label>검색어</label>
                    <div class="ui fluid action input">
                        <input type="text" id="search_keyword" ng-model="search_keyword">
                        <button type="submit" class="ui icon teal button">
                            <i class=" search icon"></i>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <label>해시 태그</label>
                    <select class="ui fluid search dropdown" multiple=""
                            ng-model="hashtags" ng-options="hashtag.hashtag as hashtag.hashtag for hashtag in hashtagOptions">
                    </select>
                </div>
            </form>
        </div>
    </div>
    <br>
    <h4 class="ui horizontal divider header">
        검색결과
    </h4>

    <div class="ui info message" style="margin-bottom:20px">
        <i class="close link icon"></i>
        조건에 맞는 7705개의 글을 찾았습니다.
    </div>

    <div class="ui three stackable cards">
        <div id="{{m.id}}" ng-click="showMessage(m.id)"
             ng-repeat="m in messages" class="ui link card">
            <div class="message body content">
                <div class="header">
                    <span class="hashtag" ng-repeat="h in m.hashtags">{{h.hashtag}}</span>
                </div>
                <div class="meta">{{m.updated_time}}</div>
                <div ng-bind-html="m.message" class="description"></div>
            </div>
            <div class="message footer content" ng-show="showFooter(m)">
                <span ng-show="m.likes > 0" class="right floated">
                    <i class="heart outline like icon"></i>
                    {{m.likes}} likes
                </span>
                <span ng-show="m.comments.length > 0" class="left floated">
                    <i class="comment icon"></i>
                    {{m.comments.length}} comments
                </span>
            </div>
        </div>
    </div>
</div>

