<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Groupy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46E1E3401D0567FE00E24843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E1E3541D0567FE00E24843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46E1E35F1D0567FE00E24843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
